{% extends "header.html" %}

{% block body %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...
  <ul>
  {% for t in TOPIC_DICT["Basics"] %}
  	<li><a hfref="{{t[1]}}">{{t[0]}}</li>
  {% endfor %}


  </div>

  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...


	
  </div>

  <div class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="messages-tab">...




  </div>

  <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">...




  </div>
</div> 	
{% endblock %}
